<div class="container">
  <app-header title="concatMap()" category="Operators" subtitle="Related to <code>flatMap()</code>"></app-header>

  <app-documentation marble="/assets/concatMap.png">
    <p>
      <code>concatMap()</code> projects each source value to an Observable which is merged in the output Observable,
      in a serialized fashion waiting for each one to complete before merging the next.
    </p>
  </app-documentation>

  <app-signature>
    <pre class="my-0"><code class="language-ts">
      concatMap&lt;T, R&gt;(project: (value: T, index: number) =&gt;  ObservableInput&lt;R&gt;): OperatorFunction&lt;T, R&gt;;
    </code></pre>
  </app-signature>

  <app-example-code>
    <pre class="my-0 line-numbers"><code class="language-ts">
      // =&gt; For each click event, tick every second from 0 to 3, with no concurrency

      import &#123; concat, interval, range &#125; from 'rxjs';
      import &#123; take &#125; from 'rxjs/operators';

      import &#123; fromEvent, interval &#125; from 'rxjs';
      import &#123; concatMap, take &#125; from 'rxjs/operators';

      fromEvent(document, 'click')
      .pipe(
        concatMap((event: MouseEvent) =&gt; interval(1000).pipe(take(4)))
      )
      .subscribe((value: number) =&gt; console.log(value));

      // For every click on the "document" it will emit values 0 to 3 spaced by a 1000ms interval
      // Without any concurrency
    </code></pre>
  </app-example-code>

  <app-results [results]="results" [isRunning]="isRunning" (onStop)="stop()" (onStart)="start()"></app-results>

  <app-resources [resources]="[
    ['[RxJS] Official Documentation', 'https://rxjs.dev/api/operators/concatMap'],
    ['[ReactiveX] FlatMap', 'http://reactivex.io/documentation/operators/flatmap.html'],
    ['[Learn RxJS] concatMap', 'https://www.learnrxjs.io/operators/transformation/concatmap.html'],
    ['[RxJS Marbles] concatMap', 'http://rxmarbles.com/#concatMap']
  ]">
  </app-resources>
</div>
