<div class="container">
  <app-header title="bufferTime()" category="Operators"></app-header>

  <app-documentation marble="/assets/bufferTime.png">
    <p>
      <code>bufferTime()</code> collects emitted values until provided time has passed, then emits them as an array.
    </p>
  </app-documentation>

  <app-signature>
    <pre class="my-0"><code class="language-ts">
      bufferTime&lt;T&gt;(bufferTimeSpan: number, scheduler?: SchedulerLike): OperatorFunction&lt;T, T[]&gt;;
      bufferTime&lt;T&gt;(bufferTimeSpan: number, bufferCreationInterval: number | null | undefined, scheduler?: SchedulerLike): OperatorFunction&lt;T, T[]&gt;;
      bufferTime&lt;T&gt;(bufferTimeSpan: number, bufferCreationInterval: number | null | undefined, maxBufferSize: number, scheduler?: SchedulerLike): OperatorFunction&lt;T, T[]&gt;;
    </code></pre>
  </app-signature>

  <app-example-code>
    <pre class="my-0 line-numbers"><code class="language-ts">
      // =&gt; Every 5 seconds, emit the click events from the next 2 seconds

      import &#123; fromEvent &#125; from 'rxjs';
      import &#123; bufferTime, map &#125; from 'rxjs/operators';

      fromEvent(document, 'click')
        .pipe(
          bufferTime(2000, 5000),
          map((events: Array&lt;MouseEvent&gt;) =&gt; events.length)
        )
        .subscribe((value: number) =&gt; console.log(value));
    </code></pre>
  </app-example-code>

  <app-results [results]="results" [isRunning]="isRunning" (onStop)="stop()" (onStart)="start()"></app-results>

  <app-resources [resources]="[
    ['[RxJS] Official Documentation', 'https://rxjs.dev/api/operators/bufferTime'],
    ['[ReactiveX] Buffer', 'http://reactivex.io/documentation/operators/buffer.html'],
    ['[Learn RxJS] bufferTime', 'https://www.learnrxjs.io/operators/transformation/buffertime.html'],
    ['[RxJS Marbles] bufferTime', 'http://rxmarbles.com/#bufferTime']
  ]">
  </app-resources>

  <app-resources [resources]="[
    ['[RxJS] Official Documentation', 'https://rxjs.dev/api/operators/bufferTime'],
    ['[ReactiveX] Buffer', 'http://reactivex.io/documentation/operators/buffer.html'],
    ['[Learn RxJS] bufferTime', 'https://www.learnrxjs.io/operators/transformation/buffertime.html'],
    ['[RxJS Marbles] bufferTime', 'http://rxmarbles.com/#bufferTime']
  ]">
  </app-resources>
</div>
