<ng-container [ngSwitch]="isRunning">
  <h6 class="text-uppercase mb-0 pt-3 text-muted font-weight-light" [textContent]="category"></h6>

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <div>
      <h1 class="h2" [textContent]="title"></h1>
      <small class="text-muted" *ngIf="subtitle" [textContent]="subtitle"></small>
    </div>

    <div>
      <button *ngSwitchCase="false" class="btn btn-success" (click)="start()">&#9658; Run example</button>
      <button *ngSwitchCase="true" class="btn btn-danger" (click)="stop()">&#9632; Stop</button>
    </div>
  </div>
</ng-container>
