<div class="container">
  <app-header title="animationFrame" subtitle="aliased as <code>animationFrameScheduler</code>" category="Schedulers"></app-header>

  <app-documentation>
    <p>
      When <code>animationFrame</code> scheduler is used with delay, it will fall back to
      <code routerLink="/schedulers/async">async</code> scheduler behaviour.
    </p>
    <p>
      Without delay, <code>animationFrame</code> scheduler can be used to create smooth browser animations.
      It makes sure scheduled task will happen just before next browser content repaint, thus performing animations as
      efficiently as possible.
    </p>
  </app-documentation>

  <app-signature>
    <pre class="my-0"><code class="language-ts">
      schedule&lt;T&gt;(work: (this: SchedulerAction&lt;T&gt;, state?: T) =&gt; void, delay?: number, state?: T): Subscription;
    </code></pre>
  </app-signature>

  <app-example-code>
    <pre class="my-0 line-numbers"><code class="language-ts">
      import &#123; animationFrameScheduler &#125; from 'rxjs';

      function task(height) &#123;
        // `this` references currently executing Action which we reschedule with new state and delay
        console.log('Setting height to:', height);
        div.style.height = height + 'px';

        if (height < 50) &#123;
          this.schedule(height + 1);
        &#125;
      &#125;

      animationFrameScheduler.schedule(task, 0, 0);

      // Output: Setting height to: 0
      // Output: Setting height to: 1
      // Output: Setting height to: 2
      // Output: Setting height to: 3
      // Output: ... until 50
    </code></pre>
  </app-example-code>

  <app-results [results]="results" [isRunning]="isRunning" (onStop)="stop()" (onStart)="start()">
    <div class="py-4">
      <div class="mx-auto example-div" style="background-color: red; width: 50px; border: 1px solid;"></div>
    </div>
  </app-results>

  <app-resources [resources]="[
    ['[RxJS] Official Documentation', 'https://rxjs.dev/api/index/const/animationFrameScheduler'],
    ['[ReactiveX] Scheduler', 'http://reactivex.io/documentation/scheduler.html']
  ]">
  </app-resources>
</div>
