<div class="container">
  <app-header title="forkJoin()" category="Operators" subtitle="Formerly known as <code>zip()</code>"></app-header>

  <app-documentation marble="/assets/operators/zip.png">
    <p>
      <code>forkJoin()</code> combines the emissions of multiple Observables together via a specified function and emit
      single items for each combination based on the results of this function.
    </p>
  </app-documentation>

  <app-signature>
    <pre class="my-0"><code class="language-ts">
      // forkJoin([a$, b$, c$]);
      forkJoin&lt;T&gt;(sources: [ObservableInput&lt;T&gt;]): Observable&lt;T[]&gt;;
      forkJoin&lt;T, ...&gt;(sources: [ObservableInput&lt;T&gt;, ...]): Observable&lt;[T, ...]&gt;;
      forkJoin&lt;T&gt;(sources: Array&lt;ObservableInput&lt;T&gt;&gt;): Observable&lt;T[]&gt;;
      
      // forkJoin(a$, b$, c$)
      forkJoin&lt;T&gt;(v1: ObservableInput&lt;T&gt;): Observable&lt;T[]&gt;;
      forkJoin&lt;T, ...&gt;(v1: ObservableInput&lt;T&gt;, ...): Observable&lt;[T, ...]&gt;;
    </code></pre>
  </app-signature>

  <app-example-code>
    <pre class="my-0 line-numbers"><code class="language-ts">
      // =&gt; Use forkJoin with operator emitting after some time

      import &#123; forkJoin, interval &#125; from 'rxjs';
      import &#123; take &#125; from 'rxjs/operators';

      forkJoin(
        interval(1000).pipe(take(3)), // emit 0, 1, 2 every second and complete
        interval(500).pipe(take(4)),  // emit 0, 1, 2, 3 every half a second and complete
      )
      .subscribe((values: Array&lt;number&gt;) =&gt; console.log(values));

      // Output: [2, 3] =&gt; after 3 seconds
    </code></pre>
  </app-example-code>

  <app-results [results]="results" [isRunning]="isRunning" (onStop)="stop()" (onStart)="start()"></app-results>

  <app-resources [resources]="[
    ['[RxJS] Official Documentation', 'https://rxjs.dev/api/index/function/forkJoin'],
    ['[ReactiveX] Zip', 'http://reactivex.io/documentation/operators/zip.html'],
    ['[Learn RxJS] forkJoin', 'https://www.learnrxjs.io/operators/combination/forkjoin.html']
  ]">
  </app-resources>
</div>
