<div class="card bg-light mb-4">
  <div class="card-header d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center">
    &#10004; {{ title }}

    <button class="btn btn-sm btn-warning" (click)="toggleZoom()" [ngSwitch]="zoomedIn">
      <ng-container *ngSwitchCase="true">Zoom out</ng-container>
      <ng-container *ngSwitchCase="false">Zoom in</ng-container>
    </button>
  </div>

  <div class="card-body px-0 py-0" [class.zoomed-in]="zoomedIn">
    <ng-content></ng-content>
  </div>
</div>
