<div class="container">
  <app-header title="asap" subtitle="aliased as <code>asapScheduler</code>" category="Schedulers"></app-header>

  <app-documentation>
    <p>
      The <code>asap</code> scheduler behaves the same as the <code routerLink="/schedulers/async">async</code> scheduler
      when you use it to delay task in time. If however you set delay to 0, <code>asap</code> will wait for current
      synchronously executing code to end and then it will try to execute given task as fast as possible.
    </p>
    <p>
      The <code>asap</code> scheduler will do its best to minimize time between end of currently executing code and start
      of scheduled task. This makes it best candidate for performing so called "deferring". Traditionally this was
      achieved by calling <kbd>setTimeout(deferredTask, 0)</kbd>, but that technique involves some (although minimal)
      unwanted delay.
    </p>
  </app-documentation>

  <app-signature>
    <pre class="my-0"><code class="language-ts">
      schedule&lt;T&gt;(work: (this: SchedulerAction&lt;T&gt;, state?: T) =&gt; void, delay?: number, state?: T): Subscription;
    </code></pre>
  </app-signature>

  <app-example-code>
    <pre class="my-0 line-numbers"><code class="language-ts">
      import &#123; asapScheduler, asyncScheduler &#125; from 'rxjs';

      const firstScheduledTask = asyncScheduler.schedule(() =&gt; console.log('async resolved!'));
      this.plug(firstScheduledTask);

      const secondScheduledTask = asapScheduler.schedule(() =&gt; console.log('asap resolved!'));
      this.plug(secondScheduledTask);

      // Output: asap resolved!  =&gt; asap goes first!
      // Output: async resolved!
    </code></pre>
  </app-example-code>

  <app-results [results]="results" [isRunning]="isRunning" (onStop)="stop()" (onStart)="start()"></app-results>

  <app-resources [resources]="[
    ['[RxJS] Official Documentation', 'https://rxjs.dev/api/index/const/asapScheduler'],
    ['[ReactiveX] Scheduler', 'http://reactivex.io/documentation/scheduler.html']
  ]">
  </app-resources>
</div>
