<div class="card bg-light mb-4" [class.focused]="isFocused">
  <div class="card-header d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center">
    &#9757; Code

    <div>
      <button class="btn btn-sm btn-warning mr-2" (click)="zoomIn()">Zoom in</button>
      <button class="btn btn-sm btn-warning mr-2" (click)="zoomOut()">Zoom out</button>
      <button class="btn btn-sm btn-dark" (click)="toggleFocus()">
        <ng-container *ngIf="isFocused">Quit</ng-container>
        Focus
      </button>
    </div>
  </div>

  <div class="card-body px-0 py-0" [style]="zoomStyle">
    <ng-content></ng-content>
  </div>
</div>
