<div class="container">
  <app-header title="ReplaySubject" category="Subjects"
              [isRunning]="isRunning" (onStop)="stop()" (onStart)="start()"></app-header>

  <app-example-code>
    <pre class="my-0"><code class="language-ts">
      import &#123; ReplaySubject &#125; from 'rxjs';

      const replaySubject = new ReplaySubject&lt;number&gt;(2);
      replaySubject.next(0);
      replaySubject.next(1);
      replaySubject.subscribe((value: number) => console.log('First:', value));
      replaySubject.next(2);
      replaySubject.subscribe((value: number) => console.log('Second:', value));
      replaySubject.next(3);
      replaySubject.subscribe((value: number) => console.log('Third:', value));

      // Output: First: 0
      // Output: First: 1
      // Output: First: 2
      // Output: Second: 1
      // Output: Second: 2
      // Output: First: 3
      // Output: Second: 3
      // Output: Third: 2
      // Output: Third: 3
    </code></pre>
  </app-example-code>

  <app-results [results]="results"></app-results>

  <app-documentation link="https://rxjs.dev/api/index/class/ReplaySubject">
    <p>
      The <code>ReplaySubject</code> "replays" or emits old values to new subscribers.
      It buffers a set number of values and will emit those values immediately to any new subscribers in addition to
      emitting new values to existing subscribers.
    </p>
  </app-documentation>
</div>
