<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <span class="navbar-brand col-sm-3 col-md-2 mr-0 font-weight-bold" routerLink="/">
    <img src="https://rxjs-dev.firebaseapp.com/generated/images/marketing/home/Rx_Logo-512-512.png" alt="RxJS Logo"
         width="30" height="30" class="d-inline-block align-middle mr-2">
    Mastering RxJS
  </span>
  <span class="navbar-title col text-center text-uppercase font-weight-bold">A journey to higher grounds</span>
</nav>

<div class="container-fluid">
  <div class="row">
    <app-menu></app-menu>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
