<div class="container">
  <app-header title="Marble Testing" category="Testing"></app-header>

  <app-documentation>
    <p>
      <code>Marble diagrams</code> are visual representations of an Observable flow to help you understand the flow of
      values and how an operator works. You see them everywhere in the RxJS documentation and they are very useful to
      convey the functioning of Observables.
    </p>

    <p class="text-center">
      <img src="/assets/operators/map.png" alt="Map Operator Marble" class="w-50">
    </p>

    <p>The previous marble diagram of .map could be written as:</p>

    <pre class="text-center h2 mb-4"><code>-1 ---2 ---3 ---|
.map(x => 10 * x)
-10---20---30---|</code></pre>

    <p>Every alphanumeric string is considered as an emitted value and hyphens '-' are units of time.</p>

    <p>
      To be precise:
      <small>
        <a href="https://github.com/ReactiveX/rxjs/blob/master/doc/marble-testing.md#marble-syntax" rel="noreferrer" target="_blank">
          (see guide)
        </a>
      </small>
    </p>

    <ul>
      <li>
        <kbd class="mr-1">&nbsp;</kbd>&nbsp;<code>whitespace</code>:
        horizontal whitespace is ignored and can be used to help vertically align multiple marble diagrams like we did
        to align the first stream of values
      </li>
      <li>
        <kbd class="mr-1">-</kbd>&nbsp;<code>frame</code>: a unit of time
      </li>
      <li>
        <kbd class="mr-1">[0-9]+[ms|s|m]</kbd>&nbsp;<code>time progression</code>: the time progression syntax lets you
        progress virtual time by a specific amount. It's a number, followed by a time unit of <code>ms</code> (milliseconds),
        <code>s</code> (seconds), or <code>m</code> (minutes) without any space between them, e.g. <code>a 10ms b</code>.
        See <a href="https://github.com/ReactiveX/rxjs/blob/master/doc/marble-testing.md#Time-progression-syntax" rel="noreferrer" target="_blank">Time progression syntax</a> for more details.
      </li>
      <li>
        <kbd class="mr-1">|</kbd>&nbsp;<code>completion</code>: the successful completion of an observable
      </li>
      <li>
        <kbd class="mr-1">#</kbd>&nbsp;<code>error</code>: an error terminating the observable
      </li>
      <li>
        <kbd class="mr-1">[a-z0-9]</kbd>&nbsp;<code>any alphanumeric character</code>: represents a value being emitted
      </li>
      <li>
        <kbd class="mr-1">()</kbd>&nbsp;<code>sync groupings</code>:
        When multiple events need to be in the same frame synchronously, parentheses are used to group those events
      </li>
    </ul>
  </app-documentation>

  <app-example-code>
    <pre class="my-0 line-numbers"><code class="language-ts">
      import &#123; interval &#125; from 'rxjs';
      import &#123; Context, marbles &#125; from 'rxjs-marbles/jasmine';
      import &#123; take, throttleTime &#125; from 'rxjs/operators';
      
      describe('RxJS behavior testing', () =&gt; &#123;
        it('generate the stream correctly', marbles((context: Context) =&gt; &#123;
          const source$ = context.cold('-a--b--c---|');
          const subscriptions =        '^----------!';
          const expected =             '-a-----c---|';
      
          const piped$ = source$.pipe(throttleTime(3));
      
          context.expect(piped$).toBeObservable(expected);
          context.expect(source$).toHaveSubscriptions(subscriptions);
        &#125;));
      
        it('should work for asynchronous tasks too', marbles((context: Context) =&gt; &#123;
          const source$ = interval(1000);
          const expected = '1s a 999ms b 999ms (c|)';
          const expectedValues = &#123; a: 0, b: 1, c: 2 &#125;;
      
          const piped$ = source$.pipe(take(3));
      
          context.expect(piped$).toBeObservable(expected, expectedValues);
        &#125;));
      &#125;);
    </code></pre>
  </app-example-code>

  <app-resources [resources]="[
    ['RxJS Marble Testing: RTFM', 'https://blog.angularindepth.com/rxjs-marble-testing-rtfm-a9a6cd3db758'],
    ['Testing Observables in RxJS6', 'https://blog.jiayihu.net/testing-observables-in-rxjs6/'],
    ['Understanding Marble Diagrams for Reactive Streams', 'https://medium.com/@jshvarts/read-marble-diagrams-like-a-pro-3d72934d3ef5'],
    ['Findings about RxJS marble testing and the TestScheduler', 'https://itnext.io/findings-about-rxjs-marble-testing-and-the-testscheduler-b23c6bdf6b49'],
    ['Official API Documentation', 'https://github.com/ReactiveX/rxjs/blob/master/doc/marble-testing.md#api']
  ]">
  </app-resources>
</div>
