<div class="container">
  <app-header title="Marble Testing" category="Testing"></app-header>

  <app-documentation>
    <p>
      <code>Marble diagrams</code> are visual representations of an Observable flow to help you understand the flow of
      values and how an operator works. You see them everywhere in the RxJS documentation and they are very useful to
      convey the functioning of Observables.
    </p>

    <p class="text-center">
      <img src="/assets/operators/map.png" alt="Map Operator Marble" class="w-50">
    </p>

    <p>The previous marble diagram of .map could be written as:</p>

    <p class="text-center h1 mb-4">
      <code>
        -1 ---2 ---3 ---|
        <br>
        .map(x => x * 2)
        <br>
        -2 ---4 ---6 ---|
      </code>
    </p>

    <p>Every alphanumeric string is considered as an emitted value and hyphens '-' are units of time.</p>

    <p>To be precise:</p>

    <ul>
      <li><kbd class="mr-1">&nbsp;</kbd> <code>whitespace</code>: horizontal whitespace is ignored and can be used to help vertically align multiple marble diagrams like we did to align the first stream of values</li>
      <li><kbd class="mr-1">-</kbd> <code>frame</code>: a unit of time</li>
      <li><kbd class="mr-1">|</kbd> <code>completion</code>: the successful completion of an observable</li>
      <li><kbd class="mr-1">#</kbd> <code>error</code>: an error terminating the observable</li>
      <li><kbd class="mr-1">[a-z0-9]</kbd> e.g. 'a' any alphanumeric character: represents a value being emitted</li>
      <li><kbd class="mr-1">() sync groupings:</kbd> When multiple events need to be in the same frame synchronously, parentheses are used to group those events</li>
    </ul>
  </app-documentation>

  <app-signature>
    <pre class="my-0"><code class="language-ts">
      bufferTime&lt;T&gt;(bufferTimeSpan: number, scheduler?: SchedulerLike): OperatorFunction&lt;T, T[]&gt;;
      bufferTime&lt;T&gt;(bufferTimeSpan: number, bufferCreationInterval: number | null | undefined, scheduler?: SchedulerLike): OperatorFunction&lt;T, T[]&gt;;
      bufferTime&lt;T&gt;(bufferTimeSpan: number, bufferCreationInterval: number | null | undefined, maxBufferSize: number, scheduler?: SchedulerLike): OperatorFunction&lt;T, T[]&gt;;
    </code></pre>
  </app-signature>

  <app-example-code>
    <pre class="my-0 line-numbers"><code class="language-ts">
      // =&gt; Every 5 seconds, emit the click events from the next 2 seconds

      import &#123; fromEvent &#125; from 'rxjs';
      import &#123; bufferTime, map &#125; from 'rxjs/operators';

      fromEvent(document, 'click')
        .pipe(
          bufferTime(2000, 5000),
          map((events: Array&lt;MouseEvent&gt;) =&gt; events.length)
        )
        .subscribe((value: number) =&gt; console.log(value));
    </code></pre>
  </app-example-code>

  <app-resources [resources]="[
    ['RxJS Marble Testing: RTFM', 'https://blog.angularindepth.com/rxjs-marble-testing-rtfm-a9a6cd3db758'],
    ['Testing Observables in RxJS6', 'https://blog.jiayihu.net/testing-observables-in-rxjs6/'],
    ['Understanding Marble Diagrams for Reactive Streams', 'https://medium.com/@jshvarts/read-marble-diagrams-like-a-pro-3d72934d3ef5'],
    ['Findings about RxJS marble testing and the TestScheduler', 'https://itnext.io/findings-about-rxjs-marble-testing-and-the-testscheduler-b23c6bdf6b49'],
    ['Rx.TestScheduler class', 'https://xgrommx.github.io/rx-book/content/testing/test_scheduler/index.html'],
    ['Testing', 'https://chrisnoring.gitbooks.io/rxjs-5-ultimate/content/testing.html'],
    ['Official API Documentation', 'https://github.com/ReactiveX/rxjs/blob/master/doc/marble-testing.md#api']
  ]">
  </app-resources>
</div>
