<div class="container">
  <app-header title="from()" category="Operators"></app-header>

  <app-documentation link="https://rxjs.dev/api/operators/from"
                     marble="http://reactivex.io/rxjs/img/from.png">
    <p>
      <code>from()</code> creates an Observable from an Array, an array-like object, a Promise, an iterable object,
      or an Observable-like object.
    </p>
  </app-documentation>

  <app-signature>
    <pre class="my-0"><code class="language-ts">
      from&lt;T&gt;(input: ObservableInput&lt;T&gt;, scheduler?: SchedulerLike): Observable&lt;T&gt;;
      from&lt;T&gt;(input: ObservableInput&lt;ObservableInput&lt;T&gt;&gt;, scheduler?: SchedulerLike): Observable&lt;Observable&lt;T&gt;&gt;;
    </code></pre>
  </app-signature>

  <app-example-code>
    <pre class="my-0 line-numbers"><code class="language-ts">
      // =&gt; Converts an array to an Observable

      import &#123; from &#125; from 'rxjs';

      from([10, 20, 30])
      .subscribe((value: number) =&gt; console.log(event));

      // Output: 10
      // Output: 20
      // Output: 30
    </code></pre>
  </app-example-code>

  <app-results [results]="results" [isRunning]="isRunning" (onStop)="stop()" (onStart)="start()"></app-results>
</div>
