<div class="container">
  <app-header title="filter()" category="Operators"></app-header>

  <app-documentation marble="/assets/filter.png">
    <p>
      <code>filter()</code> filters items emitted by the source Observable by only emitting those that satisfy a
      specified predicate.
    </p>
  </app-documentation>

  <app-signature>
    <pre class="my-0"><code class="language-ts">
      filter&lt;T, S extends T&gt;(predicate: (value: T, index: number) =&gt; value is S, thisArg?: any): OperatorFunction&lt;T, S&gt;;
      filter&lt;T&gt;(predicate: (value: T, index: number) =&gt; boolean, thisArg?: any): MonoTypeOperatorFunction&lt;T&gt;;
    </code></pre>
  </app-signature>

  <app-example-code>
    <pre class="my-0 line-numbers"><code class="language-ts">
      // =&gt; Emit only click events whose target was a DIV element

      import &#123; fromEvent &#125; from 'rxjs';
      import &#123; filter &#125; from 'rxjs/operators';

      fromEvent(document, 'click')
      .pipe(
        filter((event: MouseEvent) =&gt; (&lt;HTMLElement&gt;event.target).tagName === 'DIV')
      )
      .subscribe((event: MouseEvent) =&gt; console.log(event));

      // Output: MouseEvent  &#123; ... &#125;
    </code></pre>
  </app-example-code>

  <app-results [results]="results" [isRunning]="isRunning" (onStop)="stop()" (onStart)="start()"></app-results>

  <app-resources [resources]="[
    ['[RxJS] Official Documentation', 'https://rxjs.dev/api/operators/filter'],
    ['[ReactiveX] Filter', 'http://reactivex.io/documentation/operators/filter.html'],
    ['[Learn RxJS] filter', 'https://www.learnrxjs.io/operators/filtering/filter.html'],
    ['[RxJS Marbles] filter', 'http://rxmarbles.com/#filter']
  ]">
  </app-resources>
</div>
