<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      <span>Subjects</span>
    </h6>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" routerLink="/subjects/async" routerLinkActive="active">
          AsyncSubject
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/subjects/behavior" routerLinkActive="active">
          BehaviorSubject
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/subjects/replay" routerLinkActive="active">
          ReplaySubject
        </a>
      </li>
    </ul>

    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      <span>Schedulers</span>
    </h6>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" routerLink="/schedulers/async" routerLinkActive="active">
          async
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/schedulers/queue" routerLinkActive="active">
          queue
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/schedulers/asap" routerLinkActive="active">
          asap
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/schedulers/animationFrame" routerLinkActive="active">
          animationFrame
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/schedulers/virtualTime" routerLinkActive="active">
          VirtualTimeScheduler
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/schedulers/test" routerLinkActive="active">
          TestScheduler
        </a>
      </li>
    </ul>

    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      <span>Operators</span>
    </h6>
    <ul class="nav flex-column mb-2">
      <li class="nav-item">
        <a class="nav-link" routerLink="/operators/forkJoin" routerLinkActive="active">
          forkJoin
        </a>
      </li>
    </ul>
  </div>
</nav>
